.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto {
  position: relative;
  width: 100%;
  padding-right: 0px;
  padding-left: 0px;
}

.between-arrow{
  width: 100%;
}

.row {
  margin-right: 0;
  margin-left: 0px;
}

html {
  font-size: 10px;
  font-family: 'Open Sans', sans-serif;
}

body {
  background-color: rgb(233, 233, 233);
}

.container-fluid {
  width: 200%;
  padding-right: 0;
  padding-left: 0;
}

.bet-arr{
  z-index: 9;
}

.between-arrow{
  margin-right: -11px;
  width: 100%;
}

.border-btm{
  border-bottom: 1px dotted black;

}

.title {
  text-align: center;
}

.title h1{
  font-size: 1.9rem;
}

.nav{
  display: flex;
  justify-content: space-around;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: #fff;
  background-color: #666666;
}

.dropdown-item:focus, .dropdown-item:hover {
  color: #16181b;
  text-decoration: none;
  background-color: #e4e4e4;
  transition: background-color .2s ease;
}

.nav-item{
  max-width: 47%;
}



.nav-item .nav-link{
  color: #666666;
  font-weight: 700;
  transition: all .3s ease;
  font-size: 1.2rem;
}

.nav-item:hover .nav-link{
  color: white;
  background-color: #acacac;
}

.dropdown:first-child{
  color: #666666;
  font-weight: 700;
} 

.dropdown-menu{
  border: 2px solid #666666;
  min-width: 30rem;
}

.dropdown-menu a{
  text-align: center;
  font-size: 1.3rem;
  padding: 1rem 0;
}

.table {
  min-height: 100vh;
  font-size: 1.2rem;
}

.bg {
  background: linear-gradient(to top, rgb(233, 233, 233), #dddddd);
}

.column-title {
  padding-top: 1rem;
  text-align: center;
  font-weight: 700;
  min-height: 8rem;
  height: 8rem;
  display: flex;
  justify-content: center;
  align-items: center
}

.column-title h3{
  font-size: 1.5rem;
}

.column-type {
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.5rem;
  margin-top: 1rem;
}

.title-column {
  text-align: center;
  font-size: 2.4rem;
  font-weight: 700;
}

.table .column-1 {
  margin-top: 2rem;
}

.space {
  min-height: 50%;
  height: 5.5rem;
}

.arrow {
  border-bottom: 2px solid rgb(124, 124, 124);
}

.table .column-2 {
  border-left: .2rem solid rgb(124, 124, 124);
  min-height: 98%;
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
}

.table .column-2:first-child {
  margin-top: 2rem;
}

.table .column-2 .row {
  margin-bottom: 2rem;
}

.table .column-3 .row {
  margin-bottom: 2rem;
}

.table .column-4 .row {
  margin-bottom: 2rem;
}

.table .column-3 {
  min-height: 98%;
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: end;
}

.table .column-3:first-child {
  margin-top: 2rem;
}

.table .column-4 {
  min-height: 30%;
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 2rem;
}

.card {
  min-height: 11rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  padding: .5rem;
  background-color: #f5f5f5;
  border: 0px solid rgba(0,0,0,.125); 
}

.card-content-title {
  font-weight: 400;
  margin-bottom: .5rem;
  font-size: 1.25rem;
}

.card-content-title {
  text-align: left;
}

.card-content-img img {
  width: 95%;
}

.card-download a i {
  font-size: 2rem;
}

.column-1 .row {
  min-height: 15%;
}

.column-4 .row {
  min-height: 50%;
}

.up-arrow {
  text-align: center;
}

.up-arrow img {
  height: 5rem;
}

.line-left {
  border-left: .2rem solid rgb(124, 124, 124);
}

.line-right {
  border-right: .2rem solid rgb(124, 124, 124);
}

.line-bottom {
  border-bottom: .2rem solid rgb(124, 124, 124);
}

.gray-bg {
  background-color: rgb(233, 233, 233);
}

.down{
  margin-top: 20rem;
}
.down-0{
  margin-top: 10rem;
}

.card-bg{
  background-color: #f5f5f5;
  z-index: 999;
}

.down-5{
  margin-top: 7.5rem;
}

.down-7{
  margin-top: 5.5rem;
}

.down-2{
  margin-top: 80rem;
}

.down-3{
  margin-top: 60rem;
}

.down-6{
  margin-top: 50rem;
}

.down-4{
  margin-top: 40rem;
}

.space-top{
  margin-top: 12rem;
}

.fixed-top{
  background-color: rgb(233, 233, 233);
}

.bg-columns{
  position: absolute;
  top: 0;
  width: 200%;
  left: -28px;
}

.bg-columns .col-3 .row .col-6{
  min-height: 100%;
  height: 300vh;
}

.bg-2{
  opacity: .1;
  background: linear-gradient(to top, rgb(221, 221, 221), rgb(124, 124, 124));
}

.z-ind{
  z-index: 9;
}

.pr{
  padding-right: -3rem;
}

.space-left{
padding-left: 2.5rem;
} 
.space-right{
padding-right: 5.5rem;
}

.long{
  position: relative;
}

.long-right-bg{
  position: absolute;
  min-height: 100%;
  height: 300vh;
  width: 100px;
  top: 0;
  right: -29px;
  background: linear-gradient(to top, rgb(221, 221, 221), rgb(124, 124, 124));
}